.App {
  text-align: center;
}

.App-header {
  background-color: #f7f4e9;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}


.mainTitle {
  background-color: #181d24;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px 15px 10px;
  margin-bottom: -7px;
  margin-top: 1.5em;
  text-align: center;
}
#trans-title {
  margin-top: 0.5em;
}
#home-title {
  
  display: flex;
  
  z-index: 1;
  width: auto;
  
}
#homeContent {
  position: relative;
}
#myLogo {
  color: white;
  background-color: #181d24;
  border-radius: 5px;
  font-size: 60px;
  padding: 0 10px;
  margin: 20px 0;
}

#RegisterContainer {
  background-color: #181d24;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  width: 50%;
  height: 50%;
}

#selectColor {
  border: 1.5px solid;
  border-color: #181d24;
  background-color: #181d24;
  color: white;
}

.black {
  color: black;
  font-size: 0.9em;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}
#formText {
  margin: 20px 5px;
}

input[type=text], input[type=number], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttons-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content:space-evenly;
  padding: 20px;
}

#signIn-button {
  align-content: center;
  padding: 20px;
}

#goBack-button {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#deleteIcon {
  width: 10%;
  height: 10%
}

#dateDropDown {
  width: 19em;
  margin-top: 1em;
}
#transDropDown {
  width: 19em;
  margin-top: 0.2em;
}

.dropdown-flex {
  display: -webkit-flex;
  display:inline-flex;
  min-width: 245px;
}

.buttons-invariant {
  padding: 12px 18px;
  
  margin: 15px 5px 10px 5px;
}

.expense-table {
  
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 800px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 15px rgba(52,63,79,0.30);
  overflow: hidden;
}
.expense-table thead tr {
  background-color: darkcyan;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
}
.expense-table th,
.expense-table td {
  padding: 12px 15px;
}
.expense-table tbody tr {
  border-bottom: 1px solid;
  border-bottom-color: #343f4f;
  text-align: left;
  background-color:#343f4f;
}
.expense-table tbody tr:nth-of-type(even) {
  background-color: #181d24;
}
.expense-table tbody tr:last-of-type {
  border-bottom: 2px solid darkcyan;
  background-color: black;
}
.expense-table tbody tr:nth-last-child(2) {
  border-bottom: 4px solid darkcyan;
}

#remainingPos {
  color: lawngreen;
}
#remainingPos2 {
  color: lightgreen;
}
#remainingNeg {
  color: crimson;
}
#remainingNeg2 {
  color: lightcoral;
}
.bold {
  font-weight: bold;
}

.registerBox {
  padding: 15px;
  position:fixed;
  background: white;
  width: 18em;
  min-height: 10em;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  text-align: left;
}

#showLoginbox {
  display: block;
}
#hideLoginBox {
  display:none;
}


#trans-button {
  background-image: linear-gradient(hotpink, deeppink);
  border: 1px solid hotpink ;
}

#credentials {
  position: relative;
  display: block;
  width: 100%;
  background-color: red;
}
#signedInUser {
  color: black;
  margin: 0;
  font-size: 14px;
  position: absolute;
  right: 1em;
  top: -4em;  
}
#signOut-button {
  position: absolute;
  font-size: 14px;
  border-radius: 0;
  right: 1em;
  top: -2em;
  
}

button {
  cursor: pointer;
}
#trashCan {
  background-color: transparent;
}
#trashContainer {
  background-color: transparent;
}
#trashCan:hover {
  filter: brightness(60%);
  text-decoration: none;
}

/* CSS */
.button-25 {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 5px 10px;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 100%;
  
  outline: 0;
  padding: 11px 15px 12px;
  
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-25:hover {
  filter: brightness(60%);
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}

#navContainer {
  background-color: #181d24;
  width: 100%;
  min-height: 3em;
  
  
  display:inline-flex;
  justify-content: center;
  
  
}
.navButtons {
  padding: 10px;
  display:inline-flex;
  
  top:0em;
  justify-content: center;
  
}

select {
  margin: 2px 4px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal-main {
  padding: 15px;
  position:fixed;
  background: white;
  min-width: 20em;
  min-height: 10em;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  text-align: left;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}